.menu #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  backdrop-filter: blur(16px);
  width: calc(100% - 55px);
  font-size: 14px;
}
  
.menu #nav a {
  color: #000000;
  text-decoration: none;
}

.menu #nav a img {
  width: 45px;
}
  
.menu #nav a.router-link-exact-active {
  color: #42b983;
}

.menu #nav div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.menu #nav .group-items {
  width: 60%;
}

.menu .login-button {
  border: 1px solid #000000;
  border-radius: 50px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}

.menu .register-button {
  border: 1px solid #000000;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
}