.menu #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #ffffff50;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  padding: 10px;
  padding-left: 90px;
  padding-right: 90px;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  width: calc(100% - 180px);
  font-size: 15px;
  font-weight: 300;
}
  
.menu #nav a {
  color: #000000;
  text-decoration: none;
}

.menu #nav a img {
  width: 45px;
}
  
.menu #nav a.router-link-exact-active {
  text-decoration: underline;
}

.menu #nav div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.menu #nav .group-items {
  width: 60%;
}

.menu .login-button {
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}

.menu .register-button {
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
}

.menu .user-items .notification-item {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-image: url('../img/icons/notification.svg');
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
}

.menu .user-items .notification-number {
  min-width: 20px;
  height: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 50px;
  background-color: #c96d6d;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.menu .user-items .user-image {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-image: url('../img/icons/user.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  cursor: pointer;
}

.menu .user-desplegable {
  position: fixed;
  top: 80px;
  right: 30px;
  display: block !important;
  background-color: #ffffff50;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  padding: 10px;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  text-align: center;
}

.menu .user-desplegable .item {
  padding: 10px;
  cursor: pointer;
}

.menu .user-desplegable div:hover {
  background-color: #eeeeee4b;
  border-radius: 5px;
}

.menu .user-desplegable .separador {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu .user-desplegable .item.logout {
  color: #c96d6d;
}